<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopstop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopStop">
        <activity android:name=".IntroActivity"></activity>
        <activity android:name=".MenuFiles.BaseActivity" />
        <activity android:name=".ShowHistory" />
        <activity android:name=".MenuFiles.SearchActivity" />
        <activity
            android:name=".MenuFiles.AddProduct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaceOrderActivity" />
        <activity android:name=".MenuFiles.CartActivity" />
        <activity android:name=".viewholder.CartItemAdapter" />
        <activity android:name=".viewholder.ProductAdapter" />
        <activity android:name=".ProductDetails" />
        <activity android:name=".MenuFiles.ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>